/* Basic styling */
html{
  	height: 100vh;
}

body {
	background-color: black;
	color: white;
  	height: 100%;
}

body section{
	width: 100%;
	height: 75%;
}

h1 {
	text-align:center;
}

p {
	text-align:center;
}

a:visited {
    color: orange;
}

table{
	border-collapse: collapse;
	width: 100%;
}

table.big-table{
	border-style: double;
	border-color: white;
}

tr td{
	border-style: solid;
	border-color: white;
}

div.header{
	width: 100%;
	text-align: center;
	font-size: 150%;
}

tr.big-header td{
	font-size: 200%;
}

#specificGen{
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

/*Accordion
 Style the buttons that are used to open and close the accordion panel */
button.system {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-style: solid;
    border-color: white;
    outline: none;
    transition: 0.4s;
}

/*Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.system.active, button.system:hover {
    background-color: white;
    color: black;
}

button.system:after {
    content: '\02795'; /* Unicode character for "plus" sign (+)*/
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.system.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: white;
}
