/* Basic styling */
html{
  	height: 100vh;
}

body {
	background-color: black;
	color: white;
  	height: 100%;
}

body section{
	width: 100%;
	height: 75%;
}

h1 {
	text-align:center;
}

p {
	text-align:center;
}

a:visited {
    color: orange;
}

table{
	border-collapse: collapse;
	width: 100%;
}

table.big-table{
	border-style: double;
	border-color: white;
}

tr td{
	border-style: solid;
	border-color: white;
}

div.header{
	width: 100%;
	text-align: center;
	font-size: 150%;
}

tr.big-header td{
	font-size: 200%;
}
/*Accordion
 Style the buttons that are used to open and close the accordion panel */
button.system {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-style: solid;
    border-color: white;
    outline: none;
    transition: 0.4s;
}

/*Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.system.active, button.system:hover {
    background-color: white;
    color: black;
}

button.system:after {
    content: '\02795'; /* Unicode character for "plus" sign (+)*/ 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.system.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: white;
}

/*Bar Chart CSS*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  background: #999;
}

div.rounded h2 {
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #999;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
}

.container {
  width: 500px;
  margin: 20px;
  background: #fff;
  padding: 20px;
  overflow: hidden;
  float: left;
}

.vertical .progress-bar {
  float: left;
  height: 300px;
  width: 40px;
  margin-right: 25px;
}

.vertical .progress-track {
  position: relative;
  width: 40px;
  height: 100%;
  background: #ebebeb;
}

.vertical .progress-fill {
  position: relative;
  background: #825;
  height: 50%;
  width: 40px;
  color: #fff;
  text-align: center;
  font-family: "Lato","Verdana",sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.rounded .progress-track,
.rounded .progress-fill {
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  border-radius: 3px;
}