html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    margin: 0 0 32px 224px;
    /* Firefox */
	height: -moz-calc(100% - 224px);
	/* WebKit */
	height: -webkit-calc(100% - 224px);
	/* Opera */
	height: -o-calc(100% - 224px);
	/* Standard */
	height: calc(100% - 224px);
    height: 100%;
}

button {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
}

nav{
    float: left;
    margin-left: 32px;
    width: 160px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 21px 32px 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

